.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
backup
.claude
claude-custom-chat-permissions-mcp/**
node_modules
mcp-permissions.js
build